  const [fileLink, setFileLink] = useState("https://www.antennahouse.com/hubfs/xsl-fo-sample/pdf/basic-link-1.pdf")
  async function handleSubmit(event) { 
    event.preventDefault(); // Prevent default form submission
  
    const formData = new FormData();
    const fileInput = document.querySelector('input[type="file"]');
    const file = fileInput.files[0];
    formData.append('file', file);
  
    const response = await fetch('http://localhost:3000/upload', {
      method: 'POST',
      body: formData // Set the request body as FormData
    });
  
    const data = await response.json()
  
    const fileId = data.fileId
    const res = await fetch(`http://localhost:3000/getlink/${fileId}`, {
      method: 'GET'
    })
    const d = await res.json()
    console.log(d)
    setFileLink(d.fileLink)
    console.log(fileLink)
  }
  